[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pre-commit = "*"
pytest-cov = "*"
coverage = "*"
coveralls = "*"
lint-roller = {editable = true,path = "."}

[packages]
pylint = "*"
black = "==18.9b0"
invoke = "*"

[requires]
python_version = "3.7.1"

[scripts]
pre = "pre-commit run --all-files"
test = "pytest -rf --cov-report term-missing --cov=lint_roller tests/"
lint = "pylint -f colorized lint_roller"
